* {
  box-sizing: border-box;
}

.frame2147223254 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 150px 0px 0px;
  background: #ededed;
  padding: 92px 268px;
  width: 1198px;
  height: 320px;
  overflow: hidden;

  .group {
    margin-left: 209px;
    width: 8px;
    height: 11px;
    rotate: 24deg;
  }

  .readyToStartYourJour {
    margin: 33px 0px 0px;
    line-height: 20px;
    letter-spacing: 0;
    color: #212121;
    font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 48px;
  }

  .frame7 {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;
    margin: 32px 179px 0px;

    .rectangle2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      background: #212121;
      padding: 9px 14px 9px 15px;

      .exploreServices {
        line-height: 22px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .rectangle3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border: 1px solid #212121;
      padding: 8px 28px;

      .getInTouch {
        line-height: 22px;
        letter-spacing: 0;
        color: #212121;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }
}
