* {
  box-sizing: border-box;
}

.whereIdeasBecomeActi {
  width: 723px;
  height: 32px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0;
  color: #1b1b1b;
  font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 48px;
}
