* {
  box-sizing: border-box;
}

.group39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 333px 135px 333px 136px;
  width: 2431px;
  height: 1208px;

  .ourServices {
    margin: 0px 0px 0px 931px;
    line-height: 20px;
    letter-spacing: 0;
    color: #2c2c2c;
    font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 48px;
  }

  .frame2147223269 {
    display: inline-flex;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 34px;
    margin-top: 39px;
    height: 483px;

    .weCreateBrandsThatCo {
      flex-shrink: 0;
      align-self: stretch;
      width: 411px;
      height: 54px;
      line-height: 24px;
      letter-spacing: 0;
      color: #1a1a1a;
      font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .softwareServices {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 20px;
      letter-spacing: 0;
      color: #1b1b1b;
      font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }

    .teamCoding4Streamlin {
      flex-shrink: 0;
      width: 250px;
      height: 250px;
      overflow: hidden;
    }

    .frame2147223263 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 16px;

      .vector {
        flex-shrink: 0;
        width: 44px;
        height: 20px;
      }

      .weCraftScalableWebMo {
        flex-shrink: 0;
        align-self: stretch;
        width: 394px;
        height: 54px;
        line-height: 24px;
        letter-spacing: 0;
        color: #1a1a1a;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .frame2147223266 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 16px;

      .subtract {
        flex-shrink: 0;
        width: 24px;
        height: 35px;
      }

      .branding {
        flex-shrink: 0;
        width: 100px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 0;
        color: #1b1b1b;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }
    }

    .frame2147223267 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 16px;

      .group38 {
        flex-shrink: 0;
        width: 29px;
        height: 26px;
      }
    }

    .frame2147223265 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 16px;

      .vector2 {
        flex-shrink: 0;
        outline-width: 1px;
        outline-style: solid;
        outline-color: #212121;
        width: 36px;
        height: 36px;
      }

      .productManagementCon {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0;
        color: #1b1b1b;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .weHelpTeamsBuildTheR {
        flex-shrink: 0;
        align-self: stretch;
        width: 360px;
        height: 67px;
        line-height: 24px;
        letter-spacing: 0;
        color: #1a1a1a;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .frame2147223268 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      height: 562px;
      row-gap: 16px;

      .group29 {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
      }

      .techHiring {
        flex-shrink: 0;
        align-self: stretch;
        width: 448px;
        height: 25px;
        line-height: 20px;
        letter-spacing: 0;
        color: #1b1b1b;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .weMatchStartupsWithT {
        flex-shrink: 0;
        width: 400px;
        height: 49px;
        line-height: 24px;
        letter-spacing: 0;
        color: #1a1a1a;
        font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }
}
