* {
  box-sizing: border-box;
}

.group19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 858px;
  height: 1308px;

  .frame35 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-right: 68px;
    margin-left: 68px;
    row-gap: 11px;

    .designBuildAndGrow {
      flex-shrink: 0;
      align-self: stretch;
      width: 723px;
      height: 32px;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0;
      color: #212121;
      font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 48px;
    }

    .weHelpYouNavigateThe {
      flex-shrink: 0;
      width: 569px;
      height: 45px;
      text-align: center;
      line-height: 22px;
      letter-spacing: 0;
      color: #212121;
      font-family: "IBM Plex Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
  }

  .frame2147223260 {
    position: relative;
    margin-top: 66px;
    width: 858px;
    height: 1154px;

    .ourTeamBringsStrateg {
      margin: 27px 0px 0px;
      width: 450px;
      line-height: 26px;
      letter-spacing: 0;
      color: #a1a1a1;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .svg1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 402px;
      border-radius: 12px;
      background: #0000001a;
      padding: 12px 12px 0px;
      height: 48px;

      .icon {
        flex-shrink: 0;
        align-self: stretch;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }
    }

    .vector291 {
      position: absolute;
      top: 268px;
      left: 136px;
      width: 632px;
      height: 161px;
    }

    .vector292 {
      position: absolute;
      top: 704px;
      left: 178px;
      width: 629px;
      height: 123px;
      rotate: 12deg;
    }

    .group17 {
      position: absolute;
      top: 386px;
      left: 4px;
      width: 851px;
      height: 326px;

      .backgroundBorderShad {
        display: flex;
        position: absolute;
        top: 47px;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
        box-shadow: 0px 1px 3px 0px #0000001a, 0px 1px 2px -1px #0000001a;
        background: #ffffff;
        padding: 34px 185px 30px 25px;
        width: 660px;
        height: 252px;
        overflow: hidden;

        .heading3HolisticAppr {
          margin: 15px 0px 0px 1px;
          line-height: 20px;
          letter-spacing: 0;
          color: #212121;
          font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }
      }

      .group13 {
        position: absolute;
        top: 0;
        left: 512px;
        width: 339px;
        height: 326px;

        .vector300 {
          position: absolute;
          top: 27px;
          left: 0;
          width: 339px;
          height: 272px;
        }

        .coding3StreamlineBro {
          position: absolute;
          top: 0;
          left: 6px;
          width: 326px;
          height: 326px;
          overflow: hidden;
        }
      }
    }

    .group16 {
      position: absolute;
      top: -1px;
      left: 22px;
      width: 815px;
      height: 312px;

      .backgroundBorderShad2 {
        display: flex;
        position: absolute;
        top: 13px;
        left: 155px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
        box-shadow: 0px 1px 3px 0px #0000001a, 0px 1px 2px -1px #0000001a;
        background: #ffffff;
        padding: 29px 39px 30px 171px;
        width: 660px;
        height: 252px;
        overflow: hidden;

        .heading3HolisticAppr2 {
          margin: 20px 0px 0px 1px;
          line-height: 20px;
          letter-spacing: 0;
          color: #212121;
          font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }
      }

      .group15 {
        position: absolute;
        top: 0;
        left: 0;
        width: 314px;
        height: 312px;

        .vector301 {
          position: absolute;
          top: 19px;
          left: 0;
          width: 314px;
          height: 274px;
        }

        .searching4Streamline {
          position: absolute;
          top: 0;
          left: 1px;
          width: 312px;
          height: 312px;
          overflow: hidden;
        }
      }
    }

    .group23 {
      position: absolute;
      top: 857px;
      left: 0;
      width: 828px;
      height: 297px;

      .backgroundBorderShad3 {
        display: flex;
        position: absolute;
        top: 32px;
        left: 168px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
        box-shadow: 0px 1px 3px 0px #0000001a, 0px 1px 2px -1px #0000001a;
        background: #ffffff;
        padding: 30px 21px 17px 189px;
        width: 660px;
        height: 252px;
        overflow: hidden;

        .heading3HolisticAppr3 {
          margin: 19px 0px 0px 1px;
          line-height: 20px;
          letter-spacing: 0;
          color: #212121;
          font-family: Arvo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }

        .onceLaunchedWeHelpYo {
          margin: 14px 0px 0px;
          width: 450px;
          line-height: 26px;
          letter-spacing: 0;
          color: #a1a1a1;
          font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .group22 {
        position: absolute;
        top: 0;
        left: 0;
        width: 289px;
        height: 297px;

        .vector302 {
          position: absolute;
          top: 6px;
          left: 6px;
          width: 274px;
          height: 291px;
        }

        .analyzeData1Streamli {
          position: absolute;
          top: -1px;
          left: 1px;
          width: 289px;
          height: 289px;
          overflow: hidden;
        }
      }
    }
  }
}
